{% extends 'base.html' %}
{% block content %}
{{super()}}
<div id="new-question" class="add-question p-4 col col-md-10 col-lg-7 m-auto">
	<div class="col">
		<form method="POST" class="p-5">
			<span class="text-center"><b>Add question</b></span>
			{{ form.hidden_tag() }}
			<div class="fields">
				{% for field in form if field.widget.input_type != 'hidden' %}
					{% if field.id=='text_answer' %}
					<div class="input-group mb-2 hidden">
					{% else %}
					<div class="input-group mb-2">
					{% endif %}
						<label id="{{field.id}}">{{field.label.text}}</label>
						{{ field(placeholder=field.description, list="list-of-categories") }}
						<small class="form-text text-muted">
							{% for error in field.errors %}
							<span class="text-danger">{{ error }}</span>
							{% endfor %}
						</small>
					</div>	
			{% endfor %}
		
			</div>

			<button class="btn btn-block btn-lg">Submit</button>
		  </form>
	</div>
</div>

{% endblock %}

