{% if g.user %}

	{% extends 'base.html' %}

	{% block body_class %}onboarding{% endblock %}

{% endif %}

{% block content %}
<div class="card">
	<h5 class="card-header"><i class="fas fa-eye"></i></h5>
	<div class="card-body">
		<h5 class="card-title">Explore</h5>
		<p class="card-text">See what you can do....</p>
		<div class="selection d-flex flex-column justify-content-around p-4">
			<div class="explore-questions col m-3">
				<h3><a href="/questions">Questions</a></h3>
			</div>
			<div class="explore-quizzes col m-3">
				<h3><a href="">Quizzes</a></h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}