/* **************Navbar**************** */

.navbar {
	background-color: #333;
	height: 50px;
	border-bottom: 1px solid rgba(240, 232, 232, 0.25);
	margin-bottom: 1rem;
	position: relative;
	z-index: 9999;
  }
  
  .navbar a {
	color: #2b7a78;
	font-size: 1.2em;
	font-weight: bold;
  }
  
  .navbar a:hover {
	color: #3aafa9;
  }
  
  .navbar-brand {
	display: flex;
	align-items: center;
  }
  
  .navbar-brand > img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 40px;
	border-radius: 2px;
	background: transparent;
  }
  
  ul.nav.navbar-nav {
	align-items: center;
  }
  
  ul.nav.navbar-nav li {
	margin: 0 1.0rem;
	display: flex;
  }
  
  /* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding > .navbar {
	background: rgb(23,37,42);
	background: linear-gradient(90deg, rgba(23,37,42,1) 0%, rgba(43,122,120,1) 42%, rgba(58,175,169,1) 100%);
  }
  
  .onboarding .navbar-header {
	margin: 0 auto;
  }
  
  .onboarding .navbar-brand {
	margin: 0;
  }
  
  .onboarding .navbar-brand span {
	display: none;
  }
  
  .onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
  }
  
  .onboarding > .navbar a {
	color: #fff;
  }
  
  .onboarding {
	background-color: #3aafa9;
  }
  
  nav + .container {
	margin-bottom: 1rem;
  }
  