@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');/* **************Navbar**************** */
body{
  background-color: #3aafa9;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.btn{
  border-radius: 50px;
}

.btn:hover{
  cursor: pointer;
}
/* **************Navbar*********** */
.navbar {
	background-color: #333;
	height: 62px;
	border-bottom: 1px solid rgba(240, 232, 232, 0.25);
	position: relative;
	z-index: 9999;
  }
  
  .navbar a{
	color: #2b7a78;
	font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  }
  
  .navbar a:hover,
  .navbar a:active {
  color: #3aafa9;
  text-decoration: underline;
  }
  
  .navbar-brand {
	display: flex;
	align-items: center;
  }

  .navbar-brand span{
    font-size: 1.6em;
  }
  
  .navbar-brand > img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 50px;
	border-radius: 2px;
	background: transparent;
  }

  ul.nav.navbar-nav {
  align-items: center;
  float: right;
  }
  
  ul.nav.navbar-nav li {
	margin: 0 1.0rem;
	display: flex;
  }

  ul.nav.navbar-nav li.description{
    color: #2b7a78;
    font-size: 1.6em;
    font-weight: bold;
  }
  
  /* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

  .onboarding .navbar-header {
	margin: 0 auto;
  }
  
  .onboarding .navbar-brand {
	margin: 0;
  }
  
  .onboarding .navbar-brand span {
	display: none;
  }
  
  .onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
  }
  
  .onboarding .navbar a {
	color: #def2f1;
  }
  
  .onboarding {
  background-color: #3aafa9;
  }
  

  /* ************ Login & Signup***************** */

  .login-main,
  .signup-main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-main .join-message,
  .signup-main .join-message{
    color: #333;
    text-align: center;
    margin-bottom: 10%;
  }

  .login-main>div,
  .signup-main>div{
    text-align: center;
  }
  
  .login-main .login,
  .signup-main .signup{
    border-radius: 35px;
    background-color: #def2f1;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .login-main .login h2,
  .signup-main .signup h2{
    margin-bottom: 2rem;
  }

  .login-main .login-form,
  .signup-main .signup-form{
    width: 80%;
    margin: 0 auto;
    padding: 5%;
  }

  .login-main .input_group,
  .signup-main .input-group{
    margin: 5px 0;
  }

  .login-main .input-group-text{
    color: #17252A;
    background-color: #3aafa9;
    height: 100%;
  }

  .login-main .btn,
  .signup-main .btn{
    background-color: #333;
    color: #fff;
    width: 60%;
    margin: 20px auto 0 auto;
  }
  
  /* ************ home-quizby***************** */

.home-hero {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  width: 100%;
  left: 0;
  text-align: center;
  color: #17252a;
  padding: 0 1rem;
}

.home-hero .welcome-message{
  width: 100%;
}

.home-hero .btn{
  width: 150px;
  color: #def2f1;
  background-color: #17252a;
  border-color: #17252a;
}

.home-hero small{
  display: block;
}

/* ************ base ***************** */

.nav .dropdown-menu{
  left: -100% !important;
}

/* ************ dashboard-nav ***************** */

.dashboard-nav{
   margin-left:0;

}