@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');/* **************Navbar**************** */
body{
  background-color: #3aafa9;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.btn{
  border-radius: 35px;
  color: #def2f1 !important;
  background-color: #17252a;
  border-color: #17252a;
}

.btn:hover{
  cursor: pointer;
}

.btn a{
  text-decoration: none;
  color: inherit;
}

.container-fluid{
  padding-left:0;
}

/* **************Navbar*********** */
.navbar {
	background-color: #333;
	height: 62px;
	border-bottom: 1px solid rgba(240, 232, 232, 0.25);
	position: relative;
  z-index: 9999;
  padding-left: .75rem;
  }
  
  .navbar a{
	color: #2b7a78;
	font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  }

  .navbar .active a{
    color:#3aafa9;
    text-decoration: underline;
    font-size: 1.3em;
  }
  
  .navbar a:hover,
  .navbar a:active {
  color: #3aafa9;
  }
  
  .navbar-brand {
	display: flex;
	align-items: center;
  }

  .navbar-brand span{
    font-size: 1.6em;
  }
  
  .navbar-brand > img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 50px;
	border-radius: 2px;
	background: transparent;
  }

  ul.nav.navbar-nav {
  align-items: center;
  float: right;
  }
  
  ul.nav.navbar-nav li {
	margin: 0 1.0rem;
	display: flex;
  }

  ul.nav.navbar-nav li.description{
    color: #2b7a78;
    font-size: 1.6em;
    font-weight: bold;
  }
  
  /* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

  .onboarding .navbar-header {
	margin: 0 auto;
  }
  
  .onboarding .navbar-brand {
	margin: 0;
  }
  
  .onboarding .navbar-brand span {
	display: none;
  }
  
  .onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
  }
  
  .onboarding .navbar a {
	color: #def2f1;
  }
  
  .onboarding {
  background-color: #3aafa9;
  }
  

  /* ************ Login & Signup***************** */

  .login-main,
  .signup-main{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-main .join-message,
  .signup-main .join-message{
    color: #333;
    text-align: center;
    margin-bottom: 10%;
  }

  .login-main>div,
  .signup-main>div{
    text-align: center;
  }
  
  .login-main .login,
  .signup-main .signup{
    border-radius: 35px;
    background-color: #def2f1;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .login-main .login h2,
  .signup-main .signup h2{
    margin-bottom: 2rem;
  }

  .login-main .login-form,
  .signup-main .signup-form{
    width: 80%;
    margin: 0 auto;
    padding: 5%;
  }

  .login-main .input_group,
  .signup-main .input-group{
    margin: 5px 0;
  }

  .login-main .input-group-text{
    color: #17252A;
    background-color: #3aafa9;
    height: 100%;
  }

  .login-main .btn,
  .signup-main .btn{
    width: 60%;
    margin: 20px auto 0 auto;
  }
  
  /* ************ home-quizby***************** */

.home-hero {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  width: 100%;
  left: 0;
  text-align: center;
  color: #17252a;
  padding: 0 1rem;
}

.home-hero .welcome-message{
  width: 100%;
}

.home-hero .btn{
  width: 150px;
}

.home-hero small{
  display: block;
}

/* ************ base ***************** */

.nav .dropdown-menu{
  left: -100% !important;
}

/* ************ dashboard ***************** */

.dashboard{
  width: 100%;
  min-height: 94vh;
  display: flex;
}
.dashboard .sidebar{
  min-height: 100%;
  position: sticky;
  padding: 30px 10px;
  box-shadow: 7px 0px 15px -3px #2b787a;
  background-color: transparent;
}

.dashboard .sidebar ul{
  width: 100%;
  list-style: none;
  margin:0;
  font-size: 1.6em;
}

.dashboard .sidebar ul .sidebar-item{
  width: 100%;
  margin: 20px 0;
}

.dashboard .sidebar ul li a{
  text-decoration: none;
  color: #17252a;
  padding: 5px;
}

.dashboard .main-content{
  width: 68%;
  padding: 20px 20px;
}


/* ************ questions ***************** */
.questions{
  padding: 3% 10%;
  margin: auto;
}

.questions form{
  width: 100%;
}

.questions button a{
  text-decoration: none;
  color: #def2f1;
}

.questions button{
  transition: all .3s;
}

.questions button:hover{
  transform: scale(1.2);
}

.question-list{
  font-size: 1.3em;
}

.question-list button{
  background-color: #3aafa9;
  border-radius: unset;
}


/* ************ add -questions ***************** */

.add-question form{
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.add-question form span{
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 10%;
}
.add-question form .fields{
  width: 100%;
}

.add-question form .fields .input-group{
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.add-question form .fields .input-group:nth-child(4)>label{
  width: 25%;
}
.add-question form .fields .input-group:nth-child(5)>label{
  width: 25%;
}.add-question form .fields .input-group:nth-child(6)>label{
  width: 25%;
}.add-question form .fields .input-group:nth-child(7)>label{
  width: 25%;
}

.add-question form .fields .input-group label{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  margin: 0 5px;
}

.add-question form .fields .input-group label[for$=correct]{
  font-size: 1.3em;
}

.add-question form .input-group label#question{
  width: 25%;

}

.add-question form .input-group textarea#question{
  width: 70%;
}

.add-question form .input-group textarea{
  min-width: 50%;
  min-height: 100px;
}


.add-question form .input-group input[type=checkbox]{
  height: 30px;
  width: 30px;
  background-color: #2b7a78;
}

label[for=answer]{
  display: none;
}

.add-question form .input-group table tbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-question form .input-group table input{
  height: 50px;
}

/* ************ profile ***************** */

.profile{
  background-color: #def2f1;
  width: 80%;
  margin: 5% auto 0;
  border-radius: 25px;
  padding: 5%;
  text-align: center;
}

.profile img{
  width: 200px;
  height: 200px;
}

