{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
	<aside class="sidebar p-3 col-2 col-md-3 col-lg-2">
			<ul class="flex-column p-0 ">
				<li class="sidebar-item p-2 {{'active' if request.endpoint=='home_dashboard'}}">
					<i class="fas fa-chart-bar"></i>
					<a href="/" class="sidebar-link">My Stats</a>
				</li>
				<li class="sidebar-item p-2 {{'active' if request.endpoint=='users_quizzes_dashboard'}}">
					<i class="fas fa-book-open"></i>
					<a href="/users/{{g.user.id}}/quizzes" class="sidebar-link">My Quizzes</a>
				</li>
				<li class="sidebar-item p-2 {{'active' if request.endpoint=='users_questions_dashboard'}}">
					<i class="fa fa-question"></i>
					<a href="/users/{{g.user.id}}/questions" class="sidebar-link">My Questions</a>
				</li>
			</ul>
			<blockquote class="quote p-2">
				<p id="quote"></p>
				<i id="author"></i>
			</blockquote>

	</aside>
	<main class="main-content col">
		{% block main%}{% endblock %}
	</main>
</div>
{% endblock %}

{% block script %}
{{super()}}
<script type="text/javascript">
    function parseQuote(response)
    {
        document.getElementById("quote").innerHTML = response.quoteText;
        document.getElementById("author").innerHTML = response.quoteAuthor;
    }
</script>

<script type="text/javascript" src="http://api.forismatic.com/api/1.0/?method=getQuote&amp;format=jsonp&amp;lang=en&amp;jsonp=parseQuote" async></script>
{% endblock %}