{% extends 'users/dashboard/dashboard.html' %}

{% block main %}
<div id="questions" class="questions p-2 col col-md-11 col-lg-10 m-auto">
	{% if not questions %}
		<h2>You haven't added any questions yet!</h2>
		<div class="questions-add-new col-3 text-center p-2">
			<a href="/questions/add"><i class="fas fa-plus"></i> New question</a>
		</div>
	{% else %}
		<div class="choice col mt-3 d-flex flex-row justify-content-between align-items-center">
			<div class="questions-add-new col-3 me-2 text-center p-2">
				<a href="/questions/add"><i class="fas fa-plus"></i> New question</a>
			</div>
			<form class= "col p-2 d-flex justify-content-between align-items-center" action="{{url_for(request.endpoint, user_id=g.user.id)}}">
				{% if search%}
					<div class="col-3 me-2 filtered-by">
						<button class="btn-secondary d-inline-block">X</button>
						Filtered By: <span class="badge-bg-secondary">{{search}}</span> 
					</div>
				{% endif %}
				<div class="col input-group">
					<select name="search-question-by" class="form-select search-question-by" id="search-question-by">
						<option>Search By...</option>
						<option Selected value="Term">Term</option>
						<option value="Category">Category</option>
					</select>
					<input name="q" type="search" class="form-control" placeholder="Search questions by term..." id="search">  
					<div class="input-group-append">
					<div class="input-group-text">
						<button class="btn btn-default">
							<span class="fa fa-search"></span>
						</button>
					</div>
					</div>
				</div>
			</form>
		</div>	
		<div class="question-list">
			<ol id="qn-list" class="list-group mt-2">
				You've added {{questions | count}} question{{'' if ((questions|count)==1) else 's'}} so far.
				{% for question in questions | sort(attribute="id") %}
						<li class="list-group-item mb-1 d-flex justify-content-between align-items-center">
							<div class="qn-index col-1">{{loop.index}}</div>
							<div class="col">
								<pre class="col mb-0 ps-2 pe-2 text-wrap"><p class="mb-0">{{question.question}}</p></pre>
							</div>
							<div>
								<small class="text-muted align-self-baseline">Added: {{ moment(question.created_on).fromNow()}}</small>
								<div>
									{% if g.user %}
									<form method="POST" action="/questions/{{question.id}}/delete" style="display:inline;">
										<button class= "btn red" type="submit" data-toggle="tooltip" data-placement="bottom" title="delete">
											<i class="fas fa-trash"></i>
										</button>
									</form>
									<button class= "btn" type="submit" data-toggle="tooltip" data-placement="bottom" title="Private">
										<a href="{{url_for('update_question', question_id=question.id)}}"><i class="fas fa-{{'lock black' if question.private else 'unlock'}}"></i></a>
									</button>
									{% endif %}
									<a data-toggle="tooltip" data-placement="bottom" title="See Answer" >
										<button class= "btn" type="button" data-toggle="collapse" data-target="#qn{{question.id}}" aria-expanded="false" aria-controls="qn{{question.id}}">
											<i class="fas fa-chevron-down"></i>
										</button>
									</a>
								</div>						
							</div>
						</li>
						<div id="qn{{question.id}}" class="q-answer collapse" data-parent="#qn-list">
							<div class="card card-body d-flex flex-wrap justify-content-around">
								{%for a in question.answers%}
									<p class="p-2 m-2 col col-md-5 col-lg-2 {{'correct' if a.correct else 'wrong'}}">{{a.answer}}</p>
								{% endfor %}
							</div>
						</div>
				{% endfor %}
			</ol>
		</div>
	{% endif %}
</div>
{% endblock%}