{% extends 'users/dashboard/dashboard.html' %}

{% block main %}
<div class="quiz-list col-10 m-auto">
	{% if not quizzes %}
		<h2>You haven't made any quizzes yet!</h2>
		<div class="quiz-add-new col-3 text-center p-2">
			<a href="/quizzes/add"><i class="fas fa-plus"></i> New Quiz</a>
		</div>
	{% else %}
		<div class="quiz-add-new col-3 text-center p-2">
			<a href="/quizzes/add"><i class="fas fa-plus"></i> New Quiz</a>
		</div>
		<div class="quiz-cards col d-flex flex-row flex-wrap">
		{% for quiz in quizzes | sort(attribute="id")  %}
				<div class="card col col-md-5 col-lg-2 m-3">
					<img class="card-img-top" src="{{quiz.image_url}}" alt="{{quiz.image_desc}}">
					<div class="card-body">
						<h5 class="card-title">{{quiz.title}}</h5>
						<p class="card-text text-truncate">{{quiz.desc}}</p>
					</div>
					<div class="card-footer text-center">
						<form style="display:inline-block;">
							<button formaction="{{url_for('view_quiz', quiz_id=quiz.id)}}" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="View">
								<i class="fas fa-eye"></i>
							</button>
							<button formaction="{{url_for('edit_quiz', quiz_id=quiz.id)}}" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Edit">
								<i class="fas fa-edit"></i>
							</button>
							<button formaction="/quizzes/{{quiz.id}}/delete" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Delete">
								<i class="fas fa-trash"></i>
							</button>
							<button formaction="/quizzes/{{quiz.id}}/privacy" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="{{'Make Public' if quiz.private else 'Make Private'}}">
								<i class="fas fa-{{'lock' if quiz.private else 'unlock'}}"></i>
							</button>
						</form>
					</div>
				</div>
		{% endfor %}
		</div>
	{% endif %}
</div>

{% endblock%}