{% extends 'users/dashboard/dashboard.html' %}

{% block main %}
<div class="quiz-list col">
	<h1 class= "m-2">My Quizzes</h1>
	{% if not quizzes %}
		<h2>You haven't made any quizzes yet!</h2>
	{% else %}
	<ul class="list-group m-2 d-flex flex-row flex-wrap">
		{% for quiz in quizzes %}
			<li class="list-group-item m-3 col-5 col-md-5 col-lg-2">
				<img class="col" src="{{quiz.image_url}}" alt="{{quiz.image_desc}}">
				<h3>{{quiz.title}}</h3>
				<p>{{quiz.desc}}</p>
				<hr>
				<form style="display:inline-block;">
					<button class= "btn btn-block btn-lg mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Add a question">
						<i class="fas fa-edit"></i>
					</button>
					<button formaction="/quizzes/{{quiz.id}}/delete" class= "btn btn-block btn-lg mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Add a question">
						<i class="fas fa-trash"></i>
					</button>
					<button formaction="/quizzes/{{quiz.id}}/update" class= "btn btn-block btn-lg mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Private">
						<a href="{{url_for('update_quiz', quiz_id=quiz.id)}}"><i class="fas fa-{{'lock' if quiz.private else 'unlock'}}"></i></a>
					</button>
				</form>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

{% endblock%}