{% extends 'users/dashboard/dashboard.html' %}

{% block main %}
<div class="quiz-list col">
	<h1 class= "m-2">My Quizzes</h1>
	{% if not quizzes %}
		<h2>You haven't made any quizzes yet!</h2>
	{% else %}
		<div class="quiz-card d-flex flex-row flex-wrap">
		{% for quiz in quizzes %}
				<div class="card m-3">
					<img class="card-img-top" src="{{quiz.image_url}}" alt="{{quiz.image_desc}}">
					<div class="card-body">
						<h5 class="card-title">{{quiz.title}}</h5>
						<p class="card-text">{{quiz.desc}}</p>
					</div>
					<div class="card-footer text-center">
						<form style="display:inline-block;">
							<button formaction="" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="View">
								<i class="fas fa-eye"></i>
							</button>
							<button formaction="/quizzes/{{quiz.id}}/edit" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Edit">
								<i class="fas fa-edit"></i>
							</button>
							<button formaction="/quizzes/{{quiz.id}}/delete" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Delete">
								<i class="fas fa-trash"></i>
							</button>
							<button formaction="/quizzes/{{quiz.id}}/privacy" class= "btn btn-block btn-sm mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="{{'Make Public' if quiz.private else 'Make Private'}}">
								<i class="fas fa-{{'lock' if quiz.private else 'unlock'}}"></i>
							</button>
						</form>
					</div>
				</div>
		{% endfor %}
		</div>
	{% endif %}
</div>

{% endblock%}