{% extends 'users/dashboard/dashboard.html' %}

{% block main %}
<div class="user-statistics">
	<div class="card col m-2">
		<div class="card-header">
			<h2>{{g.user.username}}</h2>
		</div>
		<div class="card-body">
			<small>
				Joined: {{ moment(g.user.date_joined).calendar()}}
			</small>
		</div>
	</div>
	<div class="stats-user card col m-2">
		<div class="card-header">
			<ul id="user-statistics-tabs" class="nav nav-tabs card-header-tabs" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" role="tab" aria-controls="status" aria-current="true" href="#status">Status</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" role="tab" aria-controls="quizscores" aria-current="false"  href="#quizscores">Quiz Scores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" role="tab" aria-controls="history" aria-current="false"  href="#history">History</a>
				  </li>
			  </ul>
		</div>
		<div class="card-body">
			<div class="tab-content mt-3 col text-center">
				<div class="tab-pane active" id="status" role="tabpanel">
					<div class="d-flex flex-row flex-wrap">
						<div class="stats-questions card col-4 m-2">
							<div class="row g-0">
								<div class="card-header col-md-8">
									<h4>Questions Added</h4>
								</div>
								<div class="col-md-4 card-body">
									<p>{{g.user.questions|length}}</p>
								</div>
							</div>
						</div>
						<div class="stats-quizzes card col-4 m-2">
							<div class="row g-0">
								<div class="card-header col-md-8">
									<h4>Quizzes Added</h4>
								</div>
								<div class="col-md-4 card-body">
									<p>{{g.user.quizzes|length}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="quizscores" role="tabpanel">
					<h3>Quiz Scores</h3>
				</div>
				<div class="tab-pane" id="history" role="tabpanel">
					<h3>History</h3>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock%}