{% extends 'base.html' %}
{% block content %}
<div class="add-question p-4">
	<div class="col">
		<h2><b>Add question</b></h2>
		<form method="POST">
			{{ form.hidden_tag() }}
			{% for field in form if field.widget.input_type != 'hidden' %}
				<div class="form-group">
					{{field.label.text}}
					{{ field }}
					<small>
						{% for error in field.errors %}
						<span class="text-danger">{{ error }}</span>
						{% endfor %}
					</small>
				</div>	
			{% endfor %}
		
			<button class="btn btn-block btn-lg">Submit</button>
		  </form>
	</div>
</div>

{% endblock %}