{% extends 'base.html' %}
{% block content %}
{% if quiz %}
	<div class="quiz">
		<ul class="list-group mt-2">
				<li class="list-group-item d-flex justify-content-between">
					<img src="{{quiz.image_url}}" alt="{{quiz.image_desc}}">
					<p>{{quiz.title}}</p>
					<p>{{quiz.desc}}</p>
				</li>
		</ul>
	</div>
{% endif %}
<div class="questions">
	<h1 class="text-center">All Questions</h1>
	<form action="/questions/add" style="display:inline-block;">
		<button class= "btn btn-block btn-lg mb-2" type="submit" data-toggle="tooltip" data-placement="bottom" title="Add a question">
			<i class="fas fa-plus"></i>
		</button>
	</form>
	<form action="/questions">
	  <div class="input-group">
		<input name="q" class="form-control" placeholder="Search questions by category" id="search">  
		<div class="input-group-append">
		  <div class="input-group-text">
			<button class="btn btn-default">
				<span class="fa fa-search"></span>
			  </button>
		  </div>
		</div>
	  </div>
	</form>
	<div class="question-list">
		{% if not questions %}
			<h2>No questions available yet</h2>
		{% else %}
		<ul class="list-group mt-2">
			{% for question in questions %}
				<li class="list-group-item d-flex justify-content-between">
					<p>{{question.question}}</p>
					<div class="">
						<button class= "btn" type="button" data-toggle="tooltip" data-placement="bottom" title="Add to a set">
							<a href=""><i class="fas fa-plus"></i></a>
						</button>
						<button class= "btn" type="button" data-toggle="tooltip" data-placement="bottom" title="favorite">
							<a href=""><i class="fas fa-star"></i></a>
						</button>
					</div>
				</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}