{% extends 'base.html' %}

{% block content %}
<div class="create col col-sm-9 col-md-9 col-lg-7 m-auto mt-5">
	<h1><b>Create a Quiz!</b></h1>
	<form method="POST" id="create" class="create-quiz mt-5">
		<div class="create-image col-3 col-md-4 col-lg-4 p-3">
			<div class="create-image-inner text-center">
				<h3>Quiz Cover</h3>
				<p>Choose and image using the options below</p>
				<button class= "m-2" type="button" >
					<a href="/search">
						<i class="fas fa-camera"></i>
						Upload Image
					</a>
				</button>
			</div>
		</div>
		<button class="btn btn-block btn-lg">Create Quiz</button>
	  </form>
</div>

  {% block modal %}

  {% endblock %}
{% endblock%}

