{% extends 'base.html' %}

{% block content %}
<div class="dashboard">
	<aside class="sidebar col-2 col-md-2 col-lg-2">
		<div class="sidebar-sticky">
			<ul class="flex-column ">
				<li class="sidebar-item">
					<i class="fas fa-chart-bar"></i>
					<a href="#" class="sidebar-link">Stats</a>
				</li>
				<li class="sidebar-item">
					<i class="fas fa-book-open"></i>
					<a href="#" class="sidebar-link">Quizzes</a>
				</li>
				<li class="sidebar-item">
					<i class="fa fa-question"></i>
					<a href="#" class="sidebar-link">Questions</a>
				</li>
			</ul>
		</div>
	</aside>
	<main class="main-content col-10 col-md-10 col-lg-10">
		<h1>Welcome {{g.user.username}}</h1>
	</main>
</div>


{% endblock %}