{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="login-main row justify-content-md-center">
    <div class="col col-sm-9 col-md-7 col-lg-4 ">
		<div class="join-message">
			<h1>Welcome to <b>Quizby</b>.</h1>
			<h4>~~ Optimize the way you learn ~~</h4>	
		</div>
		<br>
		<div class="login">
			<h2><b>Log In</b></h2>
			<form method="POST" id="user_form" class="login-form">
				{{ form.hidden_tag() }}
		
				{% for field in form if field.widget.input_type != 'hidden' %}
				  <div class="input-group mb-2">
					  <div class="input-group-prepend">
						<div class="input-group-text">
							{% if field.label.text == 'Username'%}
							<i class="fas fa-user"></i>
							{% else %}
							<i class="fas fa-key"></i>
							{% endif %}
						</div>
					  </div>
					{{ field(placeholder=field.label.text, class_="form-control") }}
					<small>
						{% for error in field.errors %}
						<span class="text-danger">{{ error }}</span>
						  {% endfor %}
					  </small>
					</div>

				{% endfor %}
		
				<button class="btn btn-block btn-lg">Submit</button>
				<br><br>
				<small>Don't have an account?</small>
				<br>
				<small><a href="/signup"> Sign up </a> now!</small>		  
			  </form>
		</div>

    </div>
  </div>

{% endblock %}