{% extends 'users/create.html'%}

{% block modal%}
<div class="search-unsplash">
	<div class="upload-image-modal" id="uploadImage" tabindex="-1" aria-labelledby="uploadImageLabel" aria-hidden="true">
		<div class="modal-dialog p-5">
			<div class="modal-content p-2">
				<div class="modal-body">
					<form action="/search/unsplash">
						<div class="input-group">
							<input name="image-query" class="form-control" placeholder="Search for Images" id="search-image">  
							<div class="input-group-append">
								<div class="input-group-text">
									<button class="btn btn-default">
										<span class="fa fa-search"></span>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="images text-center">
					{% if images %}
						{% for img in images %}
						<form action="/search">
							<input name="image_url" id="image_url"class="hidden" type="url" value={{img[0]}}>
							<input name="image_by" id="image_by"class="hidden" type="text" value={{img[1]}}>
							<input name="image_by_profile" id="image_by_profile" class="hidden" type="url" value={{img[2]}}>
							<input name="image_desc" id="image_desc" class="hidden" type="text" value={{img[3]}}>
							<button class="image" type="submit">
								<img src="{{img[0]}}" alt="{{img[3]}}">
								<small>By: <a href="{{img[2]}}" target="_blank">{{img[1]}}</a></small>
							</button>
						</form>
						{% endfor %}
					{% else %}
					<h5>Images By:</h5>
					<h4>Unsplash</h4>
					{% endif %}
				</div>
				<a class="upload-cancel" href="/create">
					<button class="btn" type="button">Cancel</button>
				</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}