{% if g.user %}

	{% extends 'base.html' %}
	{% block body_class %}user-explore{% endblock %}

{% endif %}

{% block content %}
<div class="card">
	<h5 class="text-center card-header">{% if g.user %} Click an option below: {% else %}<i class="fas fa-eye"></i>{% endif %}</h5>
	<div class="card-body">
		{% if not g.user %}
			<h5 class="card-title">Explore</h5>
			<p class="card-text">~~~~~~~~~~~~~~~~~~~~~~~</p>
		{% endif %}
		<div class="selection d-flex flex-column justify-content-around p-4">
			<div class="explore-questions col m-3">
				<h3 class="text-center"><a href="/questions">Questions</a></h3>
			</div>
			<div class="explore-quizzes col m-3">
				<h3 class="text-center"><a href="/quizzes">Quizzes</a></h3>
			</div>
		</div>
	</div>
</div>

{% endblock %}