{% extends 'base.html' %}
{% block content %}
<div id="questions" class="questions">
		<h1 class="text-center mb-5">Questions</h1>
	{% if not questions %}
		{%if not g.user%}
			<h2 class="text-center">No questions available yet &#128577</h2>
			<h3 class="text-center"><strong><a  href="/login"> Log In </a> to add questions</strong></h3>
		{% else %}
			<h2 class="text-center">No shared questions yet &#128577</h2>
			<small class="text-center d-block">Only questions by other users will be visible here.</small>
			<small class="text-center d-block"> To see your own, check out your dashboard!</small>
		{%endif%}
	{% else %}
		<form class="mb-4 p-2 d-flex justify-content-between align-items-center" action="/questions">
			{% if search%}
				<div class="col-3 me-2 filtered-by">
					<button class="btn-secondary d-inline-block">X</button>
					Filtered By: <span class="badge-bg-secondary">{{search}}</span> 
				</div>
			{% endif %}
			<div class="input-group">
				<select name="search-question-by" class="form-select search-question-by" id="search-question-by" >
					<option>Search By...</option>
					<option Selected value="Term">Term</option>
					<option value="Category">Category</option>
				</select>
				<input name="q" type="search" class="form-control" placeholder="Search questions by term" id="search">  
				<div class="input-group-append">
				<div class="input-group-text">
					<button class="btn btn-default">
						<span class="fa fa-search"></span>
					</button>
				</div>
				</div>
			</div>
		</form>
		<div class="question-list">
			<ol id="qn-list" class="list-group mt-2">
				{% for question in questions | sort(reverse=true,attribute="created_on") %}
						<li class="list-group-item mb-1 d-flex justify-content-between align-items-center mb-2">
							<div class="col-1 qn-index">{{loop.index}}</div>
							<pre class="col ps-2 pe-2 mb-0 text-wrap"><p class="mb-0">{{question.question}}</p></pre>
							<div>
								{% if g.user %}
									<button class= "btn" type="button" data-toggle="tooltip" data-placement="bottom" title="favorite">
										<a href="{{url_for('star_question', question_id=question.id)}}">{% if question.id in favorites%}<i class="yellow fas fa-star"></i>{% else %}<i class="fas fa-star"></i>{%endif%}</a>
									</button>
								{% else %}
									<button class= "btn" type="button" data-toggle="tooltip" data-placement="bottom" title="favorite">
										<a href="{{url_for('star_question', question_id=question.id)}}"><i class="fas fa-star"></i></a>
									</button>
								{% endif %}
								<a data-toggle="tooltip" data-placement="bottom" title="See Answer(s)" >
									<button class= "btn" type="button" data-toggle="collapse" data-target="#qn{{question.id}}" aria-expanded="false" aria-controls="qn{{question.id}}">
										<i class="fas fa-chevron-down"></i>
									</button>
								</a>
								
							</div>
						</li>
						<div id="qn{{question.id}}" class="q-answer collapse" data-parent="#qn-list">
							<div class="card card-body d-flex flex-wrap justify-content-around">
								{%for a in question.answers%}
									<p class="p-2 m-2 col col-md-5 col-lg-2 {{'correct' if a.correct else 'wrong'}}">{{a.answer}}</p>
								{% endfor %}
							</div>
						</div>
				{% endfor %}
			</ol>
		</div>
	{% endif %}
</div>
{% endblock %}