{% extends 'base.html' %}
{% block content %}
<div class="quiz-list col">
	<h1 class= "text-center m-2">Quizzes</h1>
	{% if not quizzes %}
		{% if not g.user%}
			<h2 class="text-center mt-4">No quizzes available yet &#128577</h2>
			<p class="text-center">Log In or Sign Up to make you own quiz</p>
		{% else %}
			<h2 class="text-center mt-4">No shared quizzes yet &#128577</h2>
			<small class="text-center d-block">Only quizzes by other users will be visible here.</small>
			<small class="text-center d-block"> To see your own, check out your dashboard!</small>
		{% endif %}
	{% else %}
		<div class="quiz-card col col-md-11 col-lg-9 m-auto d-flex flex-row flex-wrap text-center">
			{% for quiz in quizzes | sort(reverse=true,attribute="created_on") %}
				<div class="card col-3 m-1">
					<img class="card-img-top" src="{{quiz.image_url}}" alt="{{quiz.image_desc}}">
					<div class="card-body">
						<h5 class="card-title">{{quiz.title}}</h5>
						<p class="card-text">{{quiz.desc}}</p>
					</div>
					<div class="card-footer">
						{% if g.user %}
							<a href="/quizzes/{{quiz.id}}/view"><i class="fas fa-eye"></i></a>
						{% else %}
							<a href="/login"><i class="fas fa-eye"></i></a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% endblock %}